.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 1s;
}

.loading.fechar{
    height: 0;
    overflow: hidden;
}

.aparecer{
    height: 100vh;
    background-color: black;
    transition: 2s;
}

.aparecer.fechar{
    width: 0;
    height: 0;
    overflow: hidden;
}

span {
    display: block;
}

.giro {
    width: 200px;
    border-bottom: 12px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    animation: load 1s ease-in-out infinite;
}

@keyframes load {
    0% {
       width: 10px;
    }

    10% {
        width: 20px;
     }

     20% {
        width: 30px;
     }

     30% {
        width: 50px;
     }

     40% {
        width: 60px;
     }

     50% {
        width: 80px;
     }

     60% {
        width: 90px;
     }

     70% {
        width: 110px;
     }

     80% {
        width: 120px;
     }

     90% {
        width: 140px;
     }

    100% {
     width: 160px;
    }

}