<<<<<<< HEAD
/*esconder elementos*/
.img,
.r1,
.r2,
.r3,
.r4,
.r5,
.btn,
#presentation,
#presentation1,
#presentation2,
.about-me,
.bxl-html5,
.bxl-css3,
.bxl-javascript,
.bxl-java,
.bxl-bootstrap,
.bxl-react,
.bxl-visual-studio,
.titulo,
.oque-faco1,
.oque-faco2,
.oque-faco3,
.proj1,
.proj2,
.proj3,
.projp1,
.cont1,
.cont2,
.testemunha1,
.testemunha2,
.testemunha3,
.testemunha4,
.bi-file-word,
.bi-file-earmark-excel-fill,
.bi-file-ppt-fill,
.line,.nome,.email,.msg,.mar,.btnSubmit,#star1,#star2,#star3,#star4,#star5 {
   visibility: hidden;
}


.bi-file-word,
.bi-file-earmark-excel-fill,
.bi-file-ppt-fill {
  display: block;
}




/*****************************************/

/*efeito de loading da pagina*/

.loading {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: 999999;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;

}

.loading.fechar {
   display: none;
}

span {
   display: block;
}

.barra {
   border-bottom: 15px solid white;
   width: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 50px;
   animation: processar 1s ease-in-out infinite;
}


/*animaçao do loading*/
@keyframes processar {
   0% {
      width: 10px;
   }

   10% {
      width: 20px;
   }

   20% {
      width: 60px;
   }

   30% {
      width: 70px;
   }

   40% {
      width: 80px;
   }

   50% {
      width: 100px;
   }

   60% {
      width: 130px;
   }

   70% {
      width: 150px;
   }

   80% {
      width: 190px;
   }

   90% {
      width: 200px;
   }

   100% {
      width: 230px;
   }

}

/***********************/

=======
/*esconder elementos*/
.img,
.r1,
.r2,
.r3,
.r4,
.r5,
.btn,
#presentation,
#presentation1,
#presentation2,
.about-me,
.bxl-html5,
.bxl-css3,
.bxl-javascript,
.bxl-java,
.bxl-bootstrap,
.bxl-react,
.bxl-visual-studio,
.titulo,
.oque-faco1,
.oque-faco2,
.oque-faco3,
.proj1,
.proj2,
.proj3,
.projp1,
.cont1,
.cont2,
.testemunha1,
.testemunha2,
.testemunha3,
.testemunha4,
.bi-file-word,
.bi-file-earmark-excel-fill,
.bi-file-ppt-fill {
   visibility: hidden;
}

.bi-file-word,
.bi-file-earmark-excel-fill,
.bi-file-ppt-fill {
  display: block;
}




/*****************************************/

/*efeito de loading da pagina*/

.loading {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: 999999;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;

}

.loading.fechar {
   display: none;
}

span {
   display: block;
}

.barra {
   border-bottom: 15px solid white;
   width: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 50px;
   animation: processar 1s ease-in-out infinite;
}


/*animaçao do loading*/
@keyframes processar {
   0% {
      width: 10px;
   }

   10% {
      width: 20px;
   }

   20% {
      width: 60px;
   }

   30% {
      width: 70px;
   }

   40% {
      width: 80px;
   }

   50% {
      width: 100px;
   }

   60% {
      width: 130px;
   }

   70% {
      width: 150px;
   }

   80% {
      width: 190px;
   }

   90% {
      width: 200px;
   }

   100% {
      width: 230px;
   }

}

/***********************/

>>>>>>> 42076c3fb0ca913f8ecc5d9a60389be88164836c
/******************************/